<%- include('partials/_header') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/menu_socket.js"></script>
<script>

  $(document).ready(function () {

    const updateCart = (modifier) => {
      let currentTotal = $("#cart_total").html();
      let newTotal = Math.round((Number(currentTotal) + modifier) * 100) / 100
      if (newTotal === 0) {
        $("#order_details").css("display", "none");
        $("#cart_header").html("Your cart is empty.")
      }
      $("#cart_total").html(newTotal);
      $("#order_value").val(newTotal * 100);
    }

    $('.cart').click(function (event) {
      $("#order_details").css("display", "block");
      $("#cart_header").html("Your order details:")
      let res = $(this).val().split(",")
      let row = `
      <tr>
        <input type='hidden' name='item' value='${res[0]},1'>
        <td>${res[1]}</td>
        <td>
          <i class="fas fa-minus-square removeOne"></i>
          <span class="qty">1</span>
          <i class="fas fa-plus-square addOne"></i>
        </td>
        <td>$<span class="price">${res[2] / 100}</span></td><td class=''><i class="fas fa-trash-alt remove"></i></td></tr>
      `;
      $(".item_list").append(row);
      updateCart(Number(res[2]) / 100);
      $(this).html("Added!").removeClass("btn-primary").addClass("btn-outline-success").attr("disabled", "disabled");
      // $(this).siblings(".price").css("display", "none");
    });

    $(document.body).on('click', '.remove', function () {
      let itemId = $(event.target).parents("tr").find("input").val().split(",")[0];
      $(`#${itemId}`).removeClass("btn-outline-success").addClass("btn-primary").prop("disabled", false).html("Order");
      $(event.target).parents("tr").remove();
      let deduct = Number($(event.target).closest("tr").find(".qty").html()) * Number($(event.target).closest("tr").find(".price").html()) * -1;
      updateCart(deduct);
    });

    $(document.body).on('click', '.addOne', function () {
      let newQty = Number($(event.target).siblings(".qty").html()) + 1;
      let itemId = $(event.target).parents("tr").find("input").val().split(",")[0];
      $(event.target).parents("tr").find("input").val(`${itemId},${newQty}`);
      $(event.target).siblings(".qty").html(newQty);
      let add = Number($(event.target).closest("tr").find(".price").html());
      updateCart(add);

    });

    $(document.body).on('click', '.removeOne', function () {
      let newQty = Number($(event.target).siblings(".qty").html()) - 1;
      let deduct = Number($(event.target).closest("tr").find(".price").html()) * -1;
      let itemId = $(event.target).parents("tr").find("input").val().split(",")[0];
      $(event.target).parents("tr").find("input").val(`${itemId},${newQty}`);

      if (newQty === 0) {
        $(event.target).parents("tr").remove();
        $(event.target).parents("tr").find("input").remove();
        updateCart(deduct);
      } else {
        $(event.target).siblings(".qty").html(newQty);
        $(event.target).parents("tr").find("input").val(`${itemId},${newQty}`);
        updateCart(deduct);
      }
    });

    $("#order_details").submit(function (event) {
      event.preventDefault();
      let form = $(this);
      let data = form.serialize();
      // console.log("Serialized data: ", data)
      $("#cart_header").html("Your order was sent!")
      $("#submit_order").html("Waiting for Restaurant to Accept Order").addClass("btn btn-warning").attr("disabled", "disabled");
      $(document.body).find("button").attr("disabled", "disabled");
      $(event.target).closest("form").find("i").remove();
      $.ajax({
        type: 'POST',
        url: '/menu',
        data: form.serialize()
      })
    })
  })
</script>


<body>
  <nav class="navbar navbar-dark sticky-top" style="background-color: #07a7c4">
    <div class="container col-9">
      <span class="navbar-brand mb-0 h1">Habitual</span>
      <span class="navbar-text">
        Welcome, User!
      </span>
      <form action="/logout" method="post"><input class="btn btn-outline-light" type="submit" value="Log Out"></form>
    </div>
  </nav>
  <div id="body" class="container col-9 mt-3">

    <div class="card-columns">

      <% for (let item of arr) { %>
      <div class="card">
        <img src="<%= item.picture_url %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
        </div>
        <div class="card-footer text-right">
          <span class="align-middle price">$<%= item.price/100 %></span>
          <button id="<%= item.id %>" value="<%= item.id %>,<%= item.name %>,<%= item.price %>"
            class="btn btn-primary cart">Order</a>
        </div>
      </div>
      <% } %>

    </div>

    <!-- Cart -->
    <div class="container fixed-bottom col-4 mr-3">
      <div class="row">
        <div class=" align-self-end rounded-top justify-content-end mt-1 bg-white shadow p-0 w-100">
          <header style="background-color: #07a7c4" class='p-2 text-white rounded-top'>
            <strong><span id='cart_header'>Your cart is empty.</span></strong>
          </header>
          <form action="/order" method="POST" id="order_details" style="display:none;">
            <section class="mt-2">
              <table class="table table-sm table-striped">
                <tbody class="item_list">
                </tbody>
              </table>
            </section>
            <input type="hidden" id="order_value" name="order_value">
            <footer class='text-center d-flex mb-2 justify-content-center'>
              <button id="submit_order" type="submit" class="btn btn-primary btn-sm btn-block w-75">Place Order | $<span
                  id="cart_total"></button>
          </form>
          </footer>
        </div>
      </div>
    </div>
    <!-- Footer -->
  </div>

  <%- include('partials/_footer') %>
