<%- include('partials/_header') %>
<script>
  $(document).ready(function () {
    function notify() {
      alert("clicked");
    }
    $(document.body).on('submit', '.cancel', function () {
      event.preventDefault();
      let form = $(this);
      const id = $(event.target).closest('form').find('button').attr('id').slice(1);
      $.ajax({
        type: 'POST',
        url: `/orders/${id}`,
        data: form.serialize(),
        complete: function () {
          let $card = $(document.body).find(`#div${id}`);
          $card.remove().prependTo(".cancelled_orders");
          $card.find('.card-footer.pending').remove();
          $card.find('.badge').removeClass('badge-secondary').addClass('badge-danger').html("Cancelled");
        }
      })
    });

    $(document.body).on('submit', '.accept', function () {
      event.preventDefault();
      let form = $(this);
      const id = $(event.target).closest('form').find('button').attr('id').slice(1);
      const $footer = $(
        `<div class="card-footer complete-order">
          <form action="/orders/${id}" method="POST" class="complete">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="status" value="completed">
            <button id="com${id}" type="submit" class="btn-sm btn-outline-success float-right">
              Complete Order
            </button>
          </form>
        </div>`);
      $.ajax({
        type: 'POST',
        url: `/orders/${id}`,
        data: form.serialize(),
        complete: function () {
          let $card = $(document.body).find(`#div${id}`);
          $card.remove().prependTo('.accepted');
          $card.find('.card-footer.pending').remove();
          $card.find('.collapse').remove();
          $card.find('.badge').removeClass('badge-secondary').addClass('badge-info').html("Accepted");
          $card.append($footer);
        }
      })
    });

    $(document.body).on('submit', '.complete', function () {
      event.preventDefault();
      let form = $(this);
      const id = $(event.target).closest('form').find('button').attr('id').slice(3);
      $.ajax({
        type: 'POST',
        url: `/orders/${id}`,
        data: form.serialize(),
        complete: function () {
          let $card = $(document.body).find(`#div${id}`);
          $card.remove().prependTo('.completed');
          $card.find('.card-footer.complete-order').remove();
          $card.find('.badge').removeClass('badge-info').addClass('badge-success').html("Completed");
        }
      })
    });

  });
</script>

<body>
  <style>
    .nav-pills .nav-link.active {
      background-color: #07a7c4;
    }

    .nav-pills .nav-link {
      color: black;
    }
  </style>
  <nav class="navbar navbar-dark sticky-top" style="background-color: #07a7c4">
    <div class="container col-9">
      <span class="navbar-brand mb-0 h1">Habitual</span>
      <span class="navbar-text">
        Welcome, Restaurant!
      </span>
      <form action="/logout" method="post">
        <input class="btn btn-outline-light" type="submit" value="Log Out" />
      </form>
    </div>
  </nav>
  <div id="body" class="container col-9 mt-3">

    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab">Pending
            Orders</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab">Current
            Orders</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab">Completed
            Orders</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab">Cancelled
            Orders</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active pen_ord" id="v-pills-home" role="tabpanel"
            aria-labelledby="v-pills-home-tab">

            <% for (let order of arr) { %>
            <% if (order.status ==='pending') { %>
            <div class="card order mb-2" id="div<%= order.orderid %>">
              <div class="card-header">
                <span class="align-middle mr-1">Order #<%= order.orderid %>
                </span>
                <span class="badge badge-pill badge-secondary">Pending</span>
                <span class="float-right">$<%= order.total_price/100 %></span>
              </div>
              <div class="card-body">
                <ul>
                  <% for (let item of order.items) { %>
                  <li><%= item.qty %> x <%= item.name %></li>
                  <% } %>
                </ul>
              </div>
              <div class="card-footer pending">
                <span class="float-right">
                  <div class="input-group pending-buttons">
                    <form action="/orders/<%= order.orderid %>" method="POST" class="cancel">
                      <input type="hidden" name="_method" value="PUT">
                      <input type="hidden" name="status" value="cancelled">
                      <input type="hidden" name="waitTime" value="null">
                      <button id="c<%= order.orderid %>"
                        class="btn-sm btn-outline-danger float-right mr-2 cancel_button" type="submit">
                        Cancel
                      </button>
                    </form>
                    <button class="btn btn-sm btn-outline-success" type="button" data-toggle="collapse"
                      data-target="#collapseExample<%= order.orderid %>" aria-expanded="false"
                      aria-controls="collapseExample">
                      Accept
                    </button>

                  </div>
                </span>
              </div>
              <div class="collapse" id="collapseExample<%= order.orderid %>">
                <form action="/orders/<%= order.orderid %>" method="POST" class="accept">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="status" value="accepted">
                  <div class="card card-body">
                    <div class="form-row">
                      <div class="col-4 text-right align-bottom mt-1">
                        Enter wait time
                      </div>
                      <div class="col-4">
                        <input type="text" class="form-control form-control-sm" placeholder="(minutes)" name="waitTime"
                          maxlength="2" size="2" required />
                      </div>
                      <div class="col-4">
                        <button id="a<%= order.orderid %>" class="btn btn-sm btn-success" type="submit">Accept
                          Order</button>
                      </div>
                    </div>
                  </div>
              </div>
              </form>
            </div>
            <% } %>
            <% } %>

          </div>
          <div class="tab-pane fade accepted" id="v-pills-profile" role="tabpanel"
            aria-labelledby="v-pills-profile-tab">

            <% for (let order of arr) { %>
            <% if (order.status === 'accepted') { %>
            <div class="card order mb-2" id="div<%= order.orderid %>">
              <div class="card-header">
                <span class="align-middle mr-1">Order #<%= order.orderid %></span>
                <span class="badge badge-pill badge-info">Accepted</span>
                <span class="float-right">$<%= order.total_price/100 %></span>
              </div>
              <div class="card-body">
                <ul>
                  <% for (let item of order.items) { %>
                  <li><%= item.qty %> x <%= item.name %></li>
                  <% } %>
                </ul>
              </div>
              <div class="card-footer complete-order">
                <form action="/orders/<%= order.orderid %>" method="POST" class="complete">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="status" value="completed">
                  <button id="com<%= order.orderid %>" type="submit" class="btn-sm btn-outline-success float-right">
                    Complete Order
                  </button>
                </form>
              </div>
            </div>
            <% } %>
            <% } %>


          </div>
          <div class="tab-pane fade completed" id="v-pills-messages" role="tabpanel"
            aria-labelledby="v-pills-messages-tab">

            <% for (let order of arr) { %>
            <% if (order.status === 'completed') { %>
            <div class="card order mb-2">
              <div class="card-header">
                <span class="align-middle mr-1">Order #<%= order.orderid %></span>
                <span class="badge badge-pill badge-success">Completed</span>
                <span class="float-right">$<%= order.total_price/100 %></span>
              </div>
              <div class="card-body">
                <ul>
                  <% for (let item of order.items) { %>
                  <li><%= item.qty %> x <%= item.name %></li>
                  <% } %>
                </ul>
              </div>
            </div>
            <% } %>
            <% } %>

          </div>
          <div class="tab-pane fade cancelled_orders" id="v-pills-settings" role="tabpanel"
            aria-labelledby="v-pills-settings-tab">

            <% for (let order of arr) { %>
            <% if (order.status === 'cancelled') { %>
            <div class="card order mb-2">
              <div class="card-header">
                <span class="align-middle mr-1">Order #<%= order.orderid %></span>
                <span class="badge badge-pill badge-danger">Cancelled</span>
                <span class="float-right">$<%= order.total_price/100 %></span>
              </div>
              <div class="card-body">
                <ul>
                  <% for (let item of order.items) { %>
                  <li><%= item.qty %> x <%= item.name %></li>
                  <% } %>
                </ul>
              </div>
            </div>
            <% } %>
            <% } %>

          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/orders_socket.js"></script>
  <%- include('partials/_footer') %>
</body>
